flows.json
[
    {
        "id": "69427b425c3da0b3",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5499f9a32bd58d70",
        "type": "inject",
        "z": "69427b425c3da0b3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 130,
        "y": 120,
        "wires": [
            [
                "e67bbc9603fa50e8"
            ]
        ]
    },
    {
        "id": "9cdc69b12851751b",
        "type": "inject",
        "z": "69427b425c3da0b3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Etiqueta 1",
        "payload": "0",
        "payloadType": "num",
        "x": 150,
        "y": 180,
        "wires": [
            [
                "fbff7043ec0d834c",
                "6533940cc31d20fb"
            ]
        ]
    },
    {
        "id": "5b19d6ada4cf5ee1",
        "type": "inject",
        "z": "69427b425c3da0b3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Etiqueta 2",
        "payload": "5",
        "payloadType": "num",
        "x": 150,
        "y": 240,
        "wires": [
            [
                "6533940cc31d20fb",
                "fbff7043ec0d834c"
            ]
        ]
    },
    {
        "id": "f5be9bc9e97eab0f",
        "type": "inject",
        "z": "69427b425c3da0b3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Etiqueta 3",
        "payload": "10",
        "payloadType": "num",
        "x": 150,
        "y": 300,
        "wires": [
            [
                "6533940cc31d20fb",
                "fbff7043ec0d834c"
            ]
        ]
    },
    {
        "id": "e67bbc9603fa50e8",
        "type": "ui_text",
        "z": "69427b425c3da0b3",
        "group": "d475f38b8ce4cb1c",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "texto de plueba",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 400,
        "y": 120,
        "wires": []
    },
    {
        "id": "fbff7043ec0d834c",
        "type": "ui_gauge",
        "z": "69427b425c3da0b3",
        "name": "",
        "group": "6235aeec54fe2588",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "{{msg.topic}}.",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 370,
        "y": 180,
        "wires": []
    },
    {
        "id": "6533940cc31d20fb",
        "type": "ui_chart",
        "z": "69427b425c3da0b3",
        "name": "",
        "group": "4b3806c10ed5ae74",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "{{msg.topic}}.",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 370,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "d475f38b8ce4cb1c",
        "type": "ui_group",
        "name": "Fecha G8 - Group 1",
        "tab": "c4c3e2e0ed4627a7",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6235aeec54fe2588",
        "type": "ui_group",
        "name": "Texto - Group 1",
        "tab": "0a59d783c39ffd7f",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4b3806c10ed5ae74",
        "type": "ui_group",
        "name": "Graficos - Group 2",
        "tab": "0a59d783c39ffd7f",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c4c3e2e0ed4627a7",
        "type": "ui_tab",
        "name": "Flow2 Fecha G8 - Tab 1",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "0a59d783c39ffd7f",
        "type": "ui_tab",
        "name": "Flow3 G8 - Tab 2",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]